<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>

<body>
    <section class="container-principal">
        <div class="formulario">
            <form action="/" method="get">
                    <h3>
                        CREAR UNA CUENTA
                    </h3>
                    <br>
                    <div class="el-correo">
                        <label for="correo">INGRESAR CORREO:</label>
                        <br>
                        <input type="email" name=correo id="correo" required>
                    </div>
                    <div class="la-contraseña">
                        <label for="password">CONTRASEÑA</label>
                        <br>
                        <input type="password" name="password" id="password" required>
                    </div>
                    <div class="la-contraseña-2">
                        <label for="password2">CONFIRMAR CONTRASEÑA:</label>
                        <br>
                        <input type="password" name="password2" id="password2" required>
                    </div>
                    <br>
                    <div>
                        <button type="submit" class="boton-registro ">REGISTRARME</button>
                    </div>
            </form>
        </div>

         <div class="imagen">
        <img src="/images/imag-register.jpg" alt="discos-de-vinilo" id="imagen-formulario">
        </div>
    </section>
</body>

</html>