.container-principal{
  padding: 20px 200px;
  background-color: black;
}

.boton-registro{
  color: white;
  padding: 10px 20px;
  background-color: red;
  border-color: red;
  }

 .boton-registro:hover{
  background-color: yellow;
  color: #000000;
  border-color: yellow;
  }

h3{
  font-size: 30px;
}

.el-nombre, .el-apellido, .el-correo, .la-contraseña, .la-contraseña2{
  padding-bottom: 10px;
}

#nombre, #apellido, #correo, #password, #password2{
  padding-bottom: 1rem;
  width: 100%;
  background-color: #D9D9D9;
  border-color: #D9D9D9;
  box-shadow: none;
}
 
.formulario{
  color: white;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

@media (max-width: 478px){
  .container-principal {
    padding: 10px;
  }
}

@media (min-width: 1024px){
  .container-principal{
    padding: 3rem;
  }
} 