* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-size: 24px;

}

p {
  font-size: 12px;
}


img {
  width: 100%;
}

main {
  width: 90%;
  margin: 0 auto;
  padding: 5px;
}

ul {
  list-style-type: none;
}

.last-visit {
  display: flex;
  justify-content: center;
}

main section article {
  background-color: darkgray;
  margin: 10px 0px;
}

main section article img {
  width: 100%;
}

main section article i,
.discount {
  color: #39b54a;
}

main section article i {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}

main section h3 {
  margin: 20px 0px;
}

article div.main-article {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  border-top: 1px solid #ebebeb;
  position: relative;
  padding: 15px;
}

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 45%;
}

@media (min-width: 768px) {

  main section article .description {
    display: block;
  }

  main section article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  main section div.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  main section div.products article {
    width: 45%;
  }

  .price,
  .discount {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  main section div.products article {
    width: 22%;
  }
}