.container-principal{
  padding: 20px 200px;
  background-color: rgb(209,203,193);
}

.boton-registro{
  color: white;
  padding: 10px 20px;
  background-color: red;
  border-color: red;
  border-radius: 30px;
  }

 .boton-registro:hover{
  background-color: yellow;
  color: #000000;
  border-color: yellow;
  }

h3{
  font-size: 30px;
}

.el-nombre, .el-apellido, .el-correo, .la-contraseña, .la-contraseña2{
  padding-bottom: 10px;
}

.la-contraseña{
  padding-left: 12px;
}

.formulario{
  color: black;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
}

.crear-editar {
  border: 2px solid black;
  border-radius: 30px;
  padding: 3px 25px;
  text-align: center;
  background-color: white;
}

.crear-editar-label {
  color: grey;
  border-radius: 30px;
  padding: 3px 25px;
  text-align: center;
  background-color: white;
  width: 245px;
  height: 34px;
  line-height: 27px;
  border: 2px solid black;
}

.crear-editar-category {
  color: grey;
  border-radius: 30px;
  padding: 3px 25px;
  text-align: center;
  background-color: white;
  width: 245px;
  height: 34px;
  line-height: 27px;
  border: 2px solid black;
}

.crear-editar-button {
  background-color: lightslategray;
  border-radius: 30px;
  padding: 3px 25px;
  text-align: center;
}

.crear-editar-foto {
  padding-left: 222px;
}

.form-register{
  color: grey;
  border-radius: 30px;
  padding: 3px 25px;
  text-align: center;
  background-color: white;
  width: 245px;
  height: 34px;
  line-height: 27px;
  border: 2px solid black;
}

.eye-button-container{
  background: transparent;
  right: 6px;
  top: 12px;
  border: none;
  position: relative;
}

.eye-button{
  font-size: 18px;
  align-items: center;
  display: flex;
  position: absolute;
  bottom: 9px;
  left: -34px;
}

@media (max-width: 478px){
  .container-principal {
    padding: 10px;
  }
}

@media (min-width: 1024px){
  .container-principal{
    padding: 3rem;
  }
} 