* {
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main{
    display: flex;
    height: 600px;
    justify-content: space-between;
}

.right-container{
    width: 40%;
}

.right-container img{
    width: 100%;
    max-height: 100%;
}

.left-container{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-title{
    font-size: 35px;
    margin-bottom: 50px;
}

.login-container{
   margin: 100px 0px 0px -80px;
}

.user-data{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.login-input{
    height: 52px;
    width: 462px;
    padding-left: 10px;
    font-size: 20px;
}

.password-input{
height: 52px;
width: 462px;
padding-left: 10px;
font-size: 20px;
}

.login-input::placeholder{
    font-size: 20px;
}

.access-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    flex-direction: column;
}

.login-button{
    height: 40px;
    width: 150px;
    font-size: 20px;
    border-radius: 5px;
}

.reset-password{
    margin-top: 10px;
}

.line{
    width: 200px;
    height: 1px;
    background-color: lightgray;
    margin-block: 10px;
}

.hipervinculo{
    text-decoration: none;
    color: black;
}

.login-button{
    background: red;
    color: white;
    border-color: red;
}

.login-button:hover{
    background: black;
    color: white;
    border-color: black;
}

.remember{
    display: flex;
    justify-content: space-around;
}

@media (max-width: 478px){
    .login-container{
        width: 100%;
        margin: 100px 0px 0px 0px;
     }
    .left-container {
        width: 100%;
        padding: 10px;
     }
    .login-input{
        width: 100%;
    }
    .password-input{
        width: 100%;
    }
    
}