<!DOCTYPE html>
<html lang="es">

<%- include ('./partials/head')%>
    <!--STYLES.CSS-->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/stylesIndex.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Git Music</title>
    </head>

    <body>
        <%- include ('./partials/header')%>
            <main>
                <section>
                    <% if (locals.isLogued) { %>
                        <h1><%= locals.usuarioLogueado.email %></h1>  
                    <%} %> 
                    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="../images/recital.jpeg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h1>¡Bievenido a Git Music!</h1>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="../images/imag-register.jpg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h1>Encuentra aquí todo lo que necesitas para ser un gran músico!</h1>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </button>
                    </div>
                </section>
                <!--Segunda sección-->
                <section>
                    <div class="titulos-productos">
                        <h3>NUESTRAS CATEGORIAS</h3>
                    </div>
                    <div class="products">

                        <article>
                            <a href="/instrumentos/guitarras"><img src="images/products/fenderGuitar.webp" alt="Guitarra" class="product_img"></a>
                            <a href="/instrumentos/guitarras">
                            <div class="main-article">
                                <h4 class="category-description">Guitarras</h4>
                            </a>
                            </div>
                        </article>
                        <article>
                            <a href="/instrumentos/bajos"><img src="images/products/bajoFender.webp" alt="Bajo" class="product_img"></a>
                            <a href="/instrumentos/bajos">
                            <div class="main-article">
                                <h4 class="category-description">Bajos</h4>
                                </a>
                            </div>
                        </article>
                        <article>
                            <a href="/instrumentos/vientos"><img src="images/products/alloraSaxo.webp" alt="Saxo" class="product_img"></a>
                            <a href="/instrumentos/vientos">
                            <div class="main-article">
                                <h4 class="category-description">Vientos</h4>
                                </a>
                            </div>
                        </article>
                        <article>
                            <a href="/instrumentos/teclados"><img src="images/products/tecladoNord.webp" alt="Teclado" class="product_img"></a>
                            <a href="/instrumentos/teclados">
                            <div class="main-article">
                                <h4 class="category-description">Teclados</h4>
                                </a>
                            </div>
                        </article>
                        <article>
                            <a href="/instrumentos/percusion"><img src="images/products/tamaDrum.webp" alt="Batería" class="product_img"></a>
                            <a href="/instrumentos/percusion">
                            <div class="main-article">
                                <h4 class="category-description">Percusión</h4>
                            </a>
                            </div>
                        </article>
                        <article>
                            <a href="/instrumentos/amplificadores"><img src="images/products/amplificadorFender.webp" alt="Amplificador" class="product_img"></a>
                            <a href="/instrumentos/amplificadores">
                            <div class="main-article">
                                <h4 class="category-description">Amplificadores</h4>
                                </a>
                            </div>
                        </article>
                    </div>
                </section>
            </main>
            <%- include ('./partials/footer')%>
                <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
                    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                    crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
                    crossorigin="anonymous"></script>
    </body>

</html>