
<%- include ('./partials/header')%>
    <h1>Crear producto</h1>
    <form action="Products/create" method="POST"></form>
        <div>
            <label for="">Nombre</label>
            <input type="text" name="Nombre">
        </div>
        
<%- include ('./partials/footer')%> 