<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Font Awesome ICONOS-->
    <script src="https://kit.fontawesome.com/439c181295.js" crossorigin="anonymous"></script>

    <!--STYLES.CSS-->
    <link rel="stylesheet" href="/css/stylesLogin.css">

    <title>Git Music - Ingresá a tu cuenta!</title>
</head>

<body>
    <%- include ('./partials/header')%> 
    <main>
        <article class="left-container">
            <div class="login-container">
                <form action="/" method="get">
                    <h1 class="login-title">
                        ¡Hola! Ingresá a tu cuenta
                    </h1>
                    <div class="user-data">
                        <input class="login-input" type="email" placeholder="Correo Electrónico" name="username"
                            id="username" required>
                        <input class="login-input" type="password" placeholder="Contraseña" name="password"
                            id="password" required>
                    </div>
                    <div class="access-container">
                        <button type="submit" id="send" class="login-button">Ingresar</button>
                        <div class="reset-password">
                            <a class="hipervinculo" href="#">¿Olvidaste tu contraseña?</a>
                        </div>
                        <div class="line"></div>
                        <div>
                            <a class="register hipervinculo" href="/register">Registrate</a>
                        </div>
                    </div>
                </form>
            </div>
        </article>

        <article class="right-container">
            <img src="/images/imag-register.jpg" alt="discos-de-vinilo" id="imagen-formulario">
        </article>

    </main>
    <footer>

    </footer>
</body>

</html>