<!DOCTYPE html>
<html lang="es">

<%- include ('./partials/head')%>
    <!--STYLES.CSS-->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/stylesLogin.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Git Music - Ingresá a tu cuenta!</title>
    </head>

    <body>
        <%- include ('./partials/header')%>
            <main>
                <article class="left-container">
                    <div class="login-container">
                        <form action="/login" method="post" class="login">
                            <h1 class="login-title">
                                ¡Hola! Ingresá a tu cuenta
                            </h1>
                            <div class="errores">
                                <ul>
                                    <% if (typeof errors !='undefined' ) { errors.forEach(error=> { %>
                                        <li>
                                            <%= error.msg %>
                                        </li>
                                        <% }) } %>
                                </ul>
                            </div>
                            <div class="user-data">
                                <input class="login-input" type="email" placeholder="Correo Electrónico" name="email"
                                    id="username" required>
                                <input class="password-input" type="password" placeholder="Contraseña" name="password"
                                    id="password" required>
                                <button type="button" class="eye-button-container">
                                    <i class="fa-regular fa-eye-slash eye-button" onclick="password()"></i>
                                </button>
                            </div>
                            <br>
                            <div class="remember">
                                <label><input type="checkbox" name="remember"> Recordame</label>
                            </div>
                            <div class="access-container">
                                <button type="submit" id="send" class="login-button">Ingresar</button>
                                <div class="reset-password">
                                    <a class="hipervinculo" href="#">¿Olvidaste tu contraseña?</a>
                                </div>
                                <div class="line"></div>
                                <div>
                                    <a class="register hipervinculo" href="/register">Registrate</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </article>

                <!-- <article class="right-container">
            <img src="/images/imag-register.jpg" alt="discos-de-vinilo" id="imagen-formulario">
        </article> -->

            </main>

            <%- include ('./partials/footer')%>
                <script>
                    function password() {
                        var tipo = document.getElementById("password");
                        if (tipo.type == "password") {
                            tipo.type = "text";
                        } else {
                            tipo.type = "password";
                        }
                    }
                </script>
    </body>

</html>