<!DOCTYPE html>
<html lang="es">

<%- include ('./partials/head')%>
    <!--STYLES.CSS-->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/stylesIndex.css">
    <title>Git Music - 404 Not Found</title>
    </head>

    <body>
        <%- include ('./partials/header')%>
            <main>
                <!--Primera sección -->
                <section class="frase">
                    <h2>
                        Bienvenido a Git Music
                    </h2>
                </section>
                <section>
                    <div class="not-found">
                        <h1>Error 404 </h1>
                    </div>
                    <br>
                    <div class="not-found-description">
                        <h3>Parece que la página que estás buscando no existe! &#128531</h3>
                    </div>
                </section>
            <%- include ('./partials/footer')%>
    </body>

</html>