<!DOCTYPE html>
<html lang="es">

<%- include ('./partials/head')%>
    <!--STYLES.CSS-->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/stylesOfertas.css">
    <title>Git Music - Ofertas</title>
    </head>

    <body>
        <%- include ('./partials/header')%>
            <main>
                <div class="login-container">
                    <h1 class="login-title">
                        Ofertas
                    </h1>
                </div>
            </main>

            <%- include ('./partials/footer')%>

    </body>

</html>