<!DOCTYPE html>
<html lang="es">

<%- include ('./partials/head')%>
    <!--STYLES.CSS-->
    <link rel="stylesheet" href="/css/styles.css">
    <title>Git Music - Crear producto</title>
    </head>

    <body>
        <%- include ('./partials/header')%>
    <form action="/products/create" method="POST" enctype="multipart/form-data">
        <input type="text" class="submit" name="name" placeholder="Nombre del producto"></input>
        <select name="category" id="category">
            <option value="1">Guitarra</option>
            <option value="2">Batería</option>
            <option value="3">Bajo</option>
            <option value="4">Amplificador</option>
            <option value="5">Saxofón</option>
            <option value="6">Teclado</option>
        </select>
        <input type="text" class="submit" name="description" placeholder="Descripción"></input>
        <input type="number" class="submit" name="price" placeholder="Precio"></input>
        <input type="file" class="submit" name="image" placeholder="Foto"></input>
        <input type="number" class="submit" name="discount" placeholder="descuento">
        <button type="submit" >
            CREAR
        </button>
    </form>

    <%- include ('./partials/footer')%>
    
</body>
</html>