<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡Oops!</title>
    <%- include ('./partials/head')%>
        <!--STYLES.CSS-->
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/productNotFound.css">
</head>
<body>
    <%- include ('./partials/header')%> 
<article class="mensajito">
    <p>¡Oops!<p>
</article>
    <%- include ('./partials/footer') %> 
</body>
</html>