<!DOCTYPE html>
<html lang="es">
    
<%- include ('./partials/head')%>
    <!--STYLES.CSS-->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/stylesProductCart.css">
    <title>Git Music - Crear producto</title>
</head>
<body>
    <form action="/" method="get">
        <input type="text" class="submit" placeholder="Nombre del producto"></input>
        <input type="text" class="submit" placeholder="Tipo de instrumento"></input>
        <input type="text" class="submit" placeholder="Descripción"></input>
        <input type="text" class="submit" placeholder="Precio"></input>
        <button type="submit" >
            CREAR
        </button>
    </form>

    <%- include ('./partials/footer')%>
    
</body>
</html>