<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
     <!--Font Awesome ICONOS-->
     <script src="https://kit.fontawesome.com/439c181295.js" crossorigin="anonymous"></script>

      <!--STYLES.CSS-->
      <link rel="stylesheet" href="/css/stylesProduct.css">

    <title>Git Music - Detalles del producto</title>
</head>
<body>
    <%- include ('./partials/header')%> 
    <main>
        <div class="product">
            <img src="/images/bajoFender.webp">
            <div>
                <h2 class="title">Bajo Fender</h2>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <div class="botonera">
                    <p class="price">$1,199.99</p>
                <button id="send" class="cart"><i class="fas fa-truck"></i>Agregar al carro</button>
                </div>
            </div>
        </div>
    </main>
    
    <footer>
        <ul class="ul-footer">
            <li>Nuestro WhatsApp</li>
            <li><h4>Muchas gracias por tu visita!</h4></li>
            <li>Soporte</li>
        </ul>
    </footer>
</body>
</html>