<!DOCTYPE html>
<html lang="es">
    
<%- include ('./partials/head')%>
    <!--STYLES.CSS-->
    <link rel="stylesheet" href="/css/stylesProductCart.css">
    <title>Git Music - Detalle Compra</title>
</head>

<body>
    <%- include ('./partials/header')%> 

<!-- carrito pc -->
    <main>
        <div class="pc">

            <div class="inicio_carrito_pc">
                <p>CARRITO DE COMPRA</p>
            </div>

            <div class="carro_pc">
                <div class="barra_superior_carro_pc">
                    <p>PRODUCTO</p>
                    <p>CANTIDAD</p>
                    <p>DESCRIPCIÓN</p>
                    <p>PRECIO</p>
                    <p>TOTAL</p>
                </div>
                <div class="carro_producto_pc">
                    <img src="/images/fenderGuitar.webp" alt="">
                    <div class="cantidad_producto">
                        <select name="cantidad_producto" class="cantidad_select_pc">
                            <option value="1">
                                1
                            </option>
                            <option value="2">
                                2
                            </option>
                            <option value="3">
                                3
                            </option>
                            <option value="4">
                                4
                            </option>
                            <option value="5">
                                5
                            </option>
                        </select>
                    </div>
                    <p class="detalle_producto_pc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Excepturi cupiditate ratione laborum facere distinctio neque repudiandae, 
                        animi quibusdam libero repellat ea? Nisi perspiciatis voluptatem quos aut earum et fugit dolorem.
                    </p>
                    <p class="precio_producto_pc">
                        $999,99
                    </p>
                    <p class="precio_producto_pc">
                        $999,99
                    </p>
                    <div class="eliminar_producto_pc">
                        <i class="far fa-trash-alt"></i>
                    </div>
                </div>
                <div class="barra_inferior_carro_pc">
                    <p>
                        TOTAL
                    </p>
                    <p>
                        $999,99
                    </p>
                </div>
            </div>

            <div class="carro_pc">
                <div class="barra_superior_carro_pc">
                    <p>PRODUCTO</p>
                    <p>CANTIDAD</p>
                    <p>DESCRIPCIÓN</p>
                    <p>PRECIO</p>
                    <p>TOTAL</p>
                </div>
                <div class="carro_producto_pc">
                    <img src="/images/fenderGuitar.webp" alt="">
                    <div class="cantidad_producto">
                        <select name="cantidad_producto" class="cantidad_select_pc">
                            <option value="1">
                                1
                            </option>
                            <option value="2">
                                2
                            </option>
                            <option value="3">
                                3
                            </option>
                            <option value="4">
                                4
                            </option>
                            <option value="5">
                                5
                            </option>
                        </select>
                    </div>
                    <p class="detalle_producto_pc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Excepturi cupiditate ratione laborum facere distinctio neque repudiandae, 
                        animi quibusdam libero repellat ea? Nisi perspiciatis voluptatem quos aut earum et fugit dolorem.
                    </p>
                    <p class="precio_producto_pc">
                        $999,99
                    </p>
                    <p class="precio_producto_pc">
                        $999,99
                    </p>
                    <div class="eliminar_producto_pc">
                        <i class="far fa-trash-alt"></i>
                    </div>
                </div>
                <div class="barra_inferior_carro_pc">
                    <p>
                        TOTAL
                    </p>
                    <p>
                        $999,99
                    </p>
                </div>
            </div>


            <!-- <div class="botonera_carro_pc">
                <button>REGRESAR</button>
                <button>REALIZAR COMPRA</button>
            </div> -->


            <div class="seccion_total_carrito botonera_carro_pc">
                <div class="sub_total_carrito">
                    <p>Subtotal:</p>
                    <p class="numero"> 456.158,54 $</p>
                </div>
                <div class="total_coste_envio">
                    <p>Costo de envío:</p>
                    <p class="numero"> 0 $</p>
                </div>
                <div class="total_carrito">
                    <p>TOTAL:</p>
                    <p class="numero"> 456.158,54 $</p>
                </div>
                <div class="boton_compra">
                    <button>
                        REALIZAR COMPRA
                    </button>
                    <button>
                        REGRESAR
                    </button>
                </div>
            </div>
        </div>


        </div>
        
<!-- carrito pc -->
        
<!-- carrito celular -->
        <div class="celular">
            <div class="carrito">
                <div class="eliminar_producto_barra">
                    <p>Eliminar</p>
                    <i class="far fa-trash-alt"></i>
                </div>
                <div class="img_producto">
                    <img src="/images/fenderGuitar.webp" alt="">
                </div>
                <div class="descripcion_producto">
                    <p class="marca"> marca</p>
                    <p class="nombre_producto"> producto nombre</p>
                    <p class="codigo_producto"> fedgr554grebh</p>
                    <p class="precio_producto"> 25.456,25 $</p>
                </div>
                <div class="contenedor_precio_final">
                    <div class="cantidad_producto">
                        <p>Unidades:</p>
                        <select name="cantidad_select">
                            <option value="1">
                                1
                            </option>
                            <option value="2">
                                2
                            </option>
                            <option value="3">
                                3
                            </option>
                            <option value="4">
                                4
                            </option>
                            <option value="5">
                                5
                            </option>
                        </select>
                    </div>
                    <p class="total_precio">1.531,02 $</p>
                </div>
            </div>


            
            <div class="carrito">
                <div class="eliminar_producto_barra">
                    <p>Eliminar</p>
                    <i class="far fa-trash-alt"></i>
                </div>
                <div class="img_producto">
                    <img src="/images/fenderGuitar.webp" alt="">
                </div>
                <div class="descripcion_producto">
                    <p class="marca"> marca</p>
                    <p class="nombre_producto"> producto nombre</p>
                    <p class="codigo_producto"> fedgr554grebh</p>
                    <p class="precio_producto"> 25.456,25 $</p>
                </div>
                <div class="contenedor_precio_final">
                    <div class="cantidad_producto">
                        <p>Unidades:</p>
                        <select name="cantidad_select">
                            <option value="1">
                                1
                            </option>
                            <option value="2">
                                2
                            </option>
                            <option value="3">
                                3
                            </option>
                            <option value="4">
                                4
                            </option>
                            <option value="5">
                                5
                            </option>
                        </select>
                    </div>
                    <p class="total_precio">1.531,02 $</p>
                </div>
            </div>
            
            <div class="seccion_total_carrito">
                <div class="sub_total_carrito">
                    <p>Subtotal:</p>
                    <p class="numero"> 456.158,54 $</p>
                </div>
                <div class="total_coste_envio">
                    <p>Costo de envío:</p>
                    <p class="numero"> 0 $</p>
                </div>
                <div class="total_carrito">
                    <p>TOTAL:</p>
                    <p class="numero"> 456.158,54 $</p>
                </div>
                <div class="boton_compra">
                    <button>
                        REALIZAR COMPRA
                    </button>
                    <button>
                        REGRESAR
                    </button>
                </div>
            </div>
        </div>
    </main>

    <%- include ('./partials/footer')%>

</body>
</html>