<!DOCTYPE html>
<html lang="es">

<%- include ('./partials/head')%>
    <!--STYLES.CSS-->
    <link rel="stylesheet" href="/css/styles.css">
    <title>Git Music - Crear producto</title>
    </head>

    <body>
        <%- include ('./partials/header')%>
    <form action="/products/create" method="POST" enctype="multipart/form-data">
        <input type="text" class="submit" name="name" placeholder="Nombre del producto"></input>
        <input type="text" class="submit" name="category" placeholder="Tipo de instrumento"></input>
        <input type="text" class="submit" name="description" placeholder="Descripción"></input>
        <input type="number" class="submit" name="price" placeholder="Precio"></input>
        <input type="file" class="submit" name="image" placeholder="Foto"></input>
        <button type="submit" >
            CREAR
        </button>
    </form>

    <%- include ('./partials/footer')%>
    
</body>
</html>