<!DOCTYPE html>
<html lang="es">

<%- include ('./partials/head')%>
    <!--STYLES.CSS-->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/stylesIndex.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Git Music - Crear producto</title>
    </head>

    <body>
        <%- include ('./partials/header')%>
        <section class="frase">
            <h1>
                Bienvenido a Git Music
            </h1>
        </section>
    <form  action="/products/create" method="POST" enctype="multipart/form-data">
        <div class="create">
        <input type="text" class="submit" name="name" placeholder="Nombre del producto"></input>
        <select name="category" id="category">
            <option value="1">Guitarra</option>
            <option value="2">Batería</option>
            <option value="3">Bajo</option>
            <option value="4">Amplificador</option>
            <option value="5">Saxofón</option>
            <option value="6">Teclado</option>
        </select>
        <input type="text" class="submit" name="description" placeholder="Descripción"></input>
        <input type="number" class="submit" name="price" placeholder="Precio"></input>
        <input type="file" class="submit" name="imagen" placeholder="Foto"></input>
        <input type="number" class="submit" name="discount" placeholder="descuento">
        <button type="submit" >
            CREAR
        </button>
    </div>
    </form>

    <%- include ('./partials/footer')%>
    
</body>
</html>