<!DOCTYPE html>
<html lang="es">

<%- include ('./partials/head')%>
    <!--STYLES.CSS-->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/stylesIndex.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Git Music - Crear producto</title>
    </head>

    <body>
        <%- include ('./partials/header')%>
            <section class="frase">
                <h1>
                    Git Music
                </h1>
            </section>
            <form action="/products/create" method="POST" enctype="multipart/form-data">
                <div class="create-edit">
                    <input class="crear-editar" type="text" class="submit" name="name" placeholder="Nombre del producto"></input>
                    <br>
                    <select class="crear-editar-category" name="category" id="category">
                        <option value="1">Guitarra</option>
                        <option value="2">Batería</option>
                        <option value="3">Bajo</option>
                        <option value="4">Amplificador</option>
                        <option value="5">Saxofón</option>
                        <option value="6">Teclado</option>
                    </select>
                    <br>
                    <input class="crear-editar" type="text" class="submit" name="description" placeholder="Descripción"></input>
                    <br>
                    <input class="crear-editar" type="number" class="submit" name="price" placeholder="Precio"></input>
                    <br>
                    <label class="crear-editar-label">
                        Subir imagen
                        <input class="crear-editar crear-editar-foto" type="file" id="foto-crear-producto" style="color: transparent; display: none;" class="submit" name="imagen" placeholder="Foto"></input>
                    </label>
                    <br>
                    <input class="crear-editar" type="number" class="submit" name="discount" placeholder="Descuento"></input>
                    <br>
                    <button class="crear-editar-button" type="submit">
                        CREAR
                    </button>
                </div>
            </form>

            <%- include ('./partials/footer')%>

    </body>

</html>