<!DOCTYPE html>
<html lang="es">

<%- include ('./partials/head')%>
    <!--STYLES.CSS-->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/stylesRegister.css">
    <title>Git Music - Registrate</title>
</head>

<body>
    <%- include ('./partials/header')%> 
    <section class="container-principal">
        <div class="formulario">
            <div class="errores">
                <ul>
                    <% if (typeof errors !='undefined') { errors.forEach(error=> { %>
                        <li>
                            <%= error.msg %>
                        </li>
                        <% }) } %>
                </ul>
            </div>
            <form action="/register" method="post" class="formulario" enctype="multipart/form-data">
                    <h3>
                        CREAR UNA CUENTA
                    </h3>
                    <br>
                    <div class="el-nombre">
                        <label for="nombre">NOMBRE:</label>
                        <br>
                        <input type="text" name=first_name id="nombre" required>
                    </div>
                    <div class="el-apellido">
                        <label for="apellido">APELLIDO:</label>
                        <br>
                        <input type="text" name=last_name id="apellido" required>
                    </div>
                    <div class="el-correo">
                        <label for="correo">INGRESAR CORREO:</label>
                        <br>
                        <input type="email" name=email id="correo" required>
                    </div>

                    <div class="imagen">
                        <label for="imagen">INGRESAR imagen:</label>
                        <br>
                        <input type="file" name="imagen" id="imagen" required>
                    </div>

                    <div class="la-contraseña">
                        <label for="password">CONTRASEÑA</label>
                        <br>
                        <input type="password" name="password" id="password" required>
                    </div>
                    <div class="la-contraseña-2">
                        <label for="password2">CONFIRMAR CONTRASEÑA:</label>
                        <br>
                        <input type="password" name="password2" id="password2" required>
                    </div>
                    <br>
                    <div style="text-align: center;">
                        <button type="submit" class="boton-registro ">REGISTRARME</button>
                    </div>
            </form>
        </div>
    </section>

    <%- include ('./partials/footer')%>

</body>

</html>