<!DOCTYPE html>
<html lang="es">

<%- include ('./partials/head')%>
    <!--STYLES.CSS-->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/stylesRegister.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Git Music - Registrate</title>
    </head>

    <body>
        <%- include ('./partials/header')%>
            <section class="container-principal">
                <div class="formulario">
                    <div class="errores">
                        <ul>
                            <% if (typeof errors !='undefined' ) { errors.forEach(error=> { %>
                                <li>
                                    <%= error.msg %>
                                </li>
                                <% }) } %>
                        </ul>
                    </div>
                    <form action="/register" method="post" class="formulario" enctype="multipart/form-data">
                        <h3>
                            CREA TU CUENTA
                        </h3>
                        <br>
                        <div class="el-nombre">
                            <br>
                            <input class="form-register" placeholder="Nombre" type="text" name=first_name id="nombre" required>
                        </div>
                        <div class="el-apellido">
                            <br>
                            <input class="form-register" placeholder="Apellido" type="text" name=last_name id="apellido" required>
                        </div>
                        <div class="el-correo">
                            <br>
                            <input class="form-register" placeholder="Correo electrónico" type="email" name=email id="correo" required>
                        </div>
                        <br>
                        <label class="crear-editar-label">
                            Subir imagen
                            <input class="crear-editar crear-editar-foto" type="file" id="foto-crear-producto" style="color: transparent; display: none;" type="file" name="imagen" id="imagen" required>
                        </label>
                        <div class="la-contraseña">
                            <br>
                            <input class="form-register" type="password" placeholder="Contraseña" name="password" id="password" required>
                            <button class="eye-button-container">
                                <i class="fa-regular fa-eye-slash eye-button" onclick="password()"></i>
                            </button>
                        </div>
                        <div class="la-contraseña-2">
                            <br>
                            <input class="form-register" type="password" placeholder="Confirmar contraseña" name="password2" id="password2" required>
                        </div>
                        <br>
                        <br>
                        <div style="text-align: center;">
                            <button type="submit" class="boton-registro ">REGISTRARME</button>
                        </div>
                    </form>
                </div>
            </section>

            <%- include ('./partials/footer')%>
            <script>
                function password() {
                    var tipo = document.getElementById("password");
                    if (tipo.type == "password") {
                        tipo.type = "text";
                    } else {
                        tipo.type = "password";
                    }
                }
            </script>
    </body>

</html>