<footer>
    <div class="footer-container">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>Git Music</h4>
                    <p>Lorem Ipsum is simply dummy text
                        of the printing and typesetting
                        industry.</p>
                </div>
                <div class="col-md-4">
                    <h4>Dónde estámos?</h4>
                    <img class="waze-img" src="/images/logo-waze.png" alt="Waze">
                </div>
                <div class="col-md-4">
                    <h4>Contacto</h4>
                    <ul class="contact-list">
                        <li>Teléfono: 123456789</li>
                        <li>Correo: correo@gmail.com</li>
                        <li>Dirección: 123 #45 a 67</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright-container">
            Copyright © 2022 GitMusic S.A.
        </div>
    </div>
</footer>