<footer>
    <div class="footer-container">

        <ul class="footer-top-list">
            <li class="footer-item">
                <h4>Git Music</h4>
                <p>Lorem Ipsum is simply dummy text</p>   
                <p>of the printing and typesetting</p>
                <p>industry.</p>
            </li>
            <li class="footer-item">
                <h4>Dónde estámos?</h4>
                <img class="gmaps-img" src="/images/google-maps-location.jpg" alt="googlemaps">
            </li>
            <li class="footer-item">
                <h4>Contacto</h4>
                <ul class="contact-list">
                    <li>Teléfono: 123456789</li>
                    <li>Correo: correo@gmail.com</li>
                    <li>Dirección: 123 #45 a 67</li>                    
                </ul>
            </li>
        </ul>

        <div class="footer-copyright-container">
            Copyright © 2022 GitMusic S.A.
        </div>
    </div>
</footer>