<footer>
    <div class="footer-container">
        <div class="footer-top-container">
            <ul class="footer-top-list">
                <li class="footer-item">
                    GIT MUSIC
                </li>
                <li class="footer-item">
                    DONDE ESTAMOS
                </li>
                <li class="footer-item">
                    CONTACTO
                </li>
            </ul>
        </div>
        
        
        <div class="footer-copyright-container">
            COPYRIGHT
        </div>
    </div>
</footer>