<footer>
    <div class="footer-container">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>Git Music</h4>
                    <p>
                        Somos Mónica, Juampi, Lucas, Santi y Guido, y te acompañamos a impulsar el gran artista que hay en vos.
                    </p>
                </div>
                <div class="col-md-4">
                    <h4>Dónde estámos?</h4>
                    <img class="waze-img" src="/images/logo-waze.png" alt="Waze">
                </div>
                <div class="col-md-4">
                    <h4>Contacto</h4>
                    <ul class="contact-list">
                        <li>Teléfono: +54 9 4700-1234</li>
                        <li>Correo: info@gitmusic.com</li>
                        <li>Dirección: Av. Monroe 860, CABA</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright-container">
            Copyright © 2022 GitMusic S.A.
        </div>
    </div>
</footer>