<header>
    <div class="header-container">
        <div class="header-top-container">
            <div class="main-logo-container">
                <a href="/"> <img src="/images/gitLogo.png" class="main-logo"></a>
            </div>

            <ul class="header-user">
                <li class="main-searchbox">
                    <form class="d-flex" action="/" method="get">
                        <input type="text" class="search" placeholder="Buscar productos"></input>
                        <button type="submit" class="lupita-container">
                            <i class="fa-solid fa-magnifying-glass logo-lupita"></i>
                        </button>
                    </form>
                </li>
                <li class="user-logo">
                    <a href="/login" style="color: wheat"><i class="fa-regular fa-circle-user"></i></a>
                </li>
                <li class="cart-logo">
                    <a href="/products/cart"><i class="fa-solid fa-cart-shopping cart-logo"></i></a>
                </li>
            </ul>
        </div>

        <div class="header-navbar">
            <div class="dropdown navbar-item">
                <a href="/instrumentos">
                    <button class="instrumentos-button" for="all-instruments">INSTRUMENTOS</button>
                </a>
                <div class="dropdown-content">
                    <a class="item-desplegable" rel="noopener" target="_blank" href="/instrumentos/guitarras">Guitarras</a>
                    <a class="item-desplegable" rel="noopener" target="_blank" href="/instrumentos/bajos">Bajos</a>
                    <a class="item-desplegable" rel="noopener" target="_blank" href="/instrumentos/vientos">Vientos</a>
                    <a class="item-desplegable" rel="noopener" target="_blank" href="/instrumentos/teclados">Teclados</a>
                    <a class="item-desplegable" rel="noopener" target="_blank" href="/instrumentos/percusion">Percusión</a>
                    <a class="item-desplegable" rel="noopener" target="_blank" href="/instrumentos/amplificadores">Amplificadores</a>
                </div>
            </div>
            <a class="navbar-item" href="/ofertas">OFERTAS</a>
            <a class="navbar-item" href="/more">MAS</a>
        </div>
    </div>
</header>