<header>
    <div class="header-container">
        <div class="header-top-container">
            <div class="main-logo">
                <a>LOGO</a>
            </div>
        
            <ul class="header-user">
                <li class="main-searchbox">
                    <form action="/" method="get">
                        <input type="text" class="search" placeholder="Buscar productos"></input>
                        <button type="submit" class="lupita-container">
                            <i class="fa-solid fa-magnifying-glass logo-lupita"></i>
                        </button>
                    </form>
                </li>
                <li class="user-logo">
                    <i class="fa-regular fa-circle-user"></i>
                </li>
                <li class="cart-logo">
                    <i class="fa-solid fa-cart-shopping"></i>
                </li>
            </ul>
        </div>

        <div class="header-navbar">
            <a class="navbar-item" href="/instrumentos">INSTRUMENTOS</a>
            <a class="navbar-item" href="/vinilos">VINILOS</a>
            <a class="navbar-item" href="/ofertas">OFERTAS</a>
            <a class="navbar-item" href="/more">MAS</a>
        </div>
    </div>
</header>