<header>
    <div class="logo-container">
        <div class="logo-bar-container">
            <div class="logo">
                <img src="/images/" alt="">
                <h1>Git Music</h1>
            </div>
            <div class="search-button-container">
                <div class="search-container">
                    <input type="text" placeholder="Buscar productos, marcas...">
                    <button><i class="fas fa-search"></i></button>
                </div>
            </div>
            <div class="burger-container">
                <div class="burger-menu">
                <i class="fas fa-bars"></i>
                </div>
            </div>
        </div>

        <div class="menu-container">
            <ul>
                <li><a class="a-menu" href="#">Categorías</a></li>
                <li><a class="a-menu" href="#">Ofertas</a></li>
                <li><a class="a-menu" href="#">Tu estilo musical</a></li>
            </ul>

            <ul>
                <li><a class="a-menu" href="/register">Crea tu cuenta<i class="far fa-id-card"></i></a></li>
                <li><a class="a-menu" href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a class="a-menu" href="/productCart">Carrito<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </div>
        <div class="welcome-container">
            <h2 class="welcome-title"><i class="fa-solid fa-guitar-electric"></i>Los instrumentos que te gustan y al mejor precio</h2>
        </div>
    </div>

</header>